- hosts: mysqldb
  become: yes
  tasks:
    - name: Build MySQL Container
      docker_container:
        name: autolab-db
        image: "mysql:latest"
        detach: yes
        network_mode: host
        volumes:
          - "/etc/localtime:/etc/localtime:ro"
          - "{{ install_dir }}/mysql:/var/lib/mysql"
          - "{{ install_dir }}/log/mysql:/var/log/mysql"
          - "{{ install_dir }}/deploy/configs/db:/etc/mysql/conf.d"
        env:
          MYSQL_ROOT_PASSWORD: "{{ mysql_root_pass }}"

    - name: Give permissions over log directory to mysql user of mysqldb container
      shell: bash helper_scripts/mysql_log.sh
      args:
        chdir: "{{install_dir}}/deploy/plays"

    - name: Transfer wait-for-it
      copy: src=./helper_scripts/wait-for-it.sh dest=/tmp/wait-for-it.sh mode=0777

    - name: Waiting for MySQL server to be up
      shell: ./helper_scripts/wait-for-it.sh -t 60 {{ ansible_host }}:3306

    - pause: seconds=10

    - name: Create AutolabJS database
      command: docker exec autolab-db bash -c "mysql -u root -p{{ mysql_root_pass }} -e 'CREATE DATABASE AutolabJS'"
