/execution_nodes/node_modules
/load_balancer/node_modules
/main_server/node_modules
main_server/lab_backups/
main_server/test/npm-debug.log
main_server/test/node_modules/
tests/functional_tests/node_modules/
tests/deployment_tests/node_modules/
tests/test_modules/node_modules/
util/node_modules/
.vagrant
docker-images/*.tar
ubuntu-xenial-16.04-cloudimg-console.log
deploy/dev_setup/packages/
