[project]
	description = Javascript version of CMU's Autolab for programming labs
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Prasad Talasila (prasadtalasila)
[access "refs/for/refs/*"]
	read = group user/Prasad Talasila (prasadtalasila)
	push = group user/Prasad Talasila (prasadtalasila)
	label-Code-Review = -2..+2 group user/Prasad Talasila (prasadtalasila)
	label-Verified = -1..+1 group user/Prasad Talasila (prasadtalasila)
	rebase = group user/Prasad Talasila (prasadtalasila)
	removeReviewer = group user/Prasad Talasila (prasadtalasila)
	submit = group user/Prasad Talasila (prasadtalasila)
[access "refs/heads/*"]
	read = group user/Prasad Talasila (prasadtalasila)
	create = group user/Prasad Talasila (prasadtalasila)
	push = +force group user/Prasad Talasila (prasadtalasila)
	pushMerge = group user/Prasad Talasila (prasadtalasila)
[access "refs/tags/*"]
	push = group user/Prasad Talasila (prasadtalasila)
	push = +force group user/Prasad Talasila (prasadtalasila)
