.centered {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }
      
