{
  "node_details":
    {
      "role": "execution_node",
      "hostname": "{{ ansible_host }}",
      "port": "{{ en_port }}"
    },
  "submission_details":
    {
      "marks" :[],
      "comment" :[],
      "id_no" :"",
      "Lab_No": "",
      "commit": "",
      "time":"",
      "status": "",
      "penalty": "" ,
      "socket": ""
    }
}
