#for the moment, the dependencies.yml is being run from dependencies.sh
#- import_playbook: plays/dependencies.yml
- import_playbook: plays/copy.yml
- import_playbook: plays/setup.yml
- import_playbook: plays/mysqldb.yml
- import_playbook: plays/gitlab.yml
- import_playbook: plays/lb.yml
- import_playbook: plays/ms.yml
- import_playbook: plays/executionnodes.yml
